.cube {
    border: black solid 1px;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

@media (hover: hover) and (pointer: fine) {
    .cube:hover{
        cursor: pointer;
        background-color:lightyellow !important;
        
    }
}


@media(max-width: 415px){
    .cube {
        width: 75px;
        height: 75px;
        font-size: 1em;
    }
}